<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master-page}">

<head>
	<link rel="stylesheet" href="/css/Layout.css">
</head>

<body>
	<th:block layout:fragment="content">
		<!--
		      Get in Touch Page
		
		-->
		<div class="container">
			<div class="support_box col-md-5"></div>
			<div class="support_text col-md-7">
				<div class="text247">Do you need help?</div>
				<div class="tel">airindia.retros@airindia.in</div>
				<div class="support_desc">Our Support Service is available 24 hours a day, 7 days a week to help you buy
					your tickets</div>
				<div class="support_desc">Global Support: +91 124-2641407</div>
				<div><a href="mailto:airindia.retros@airindia.in"><input class="support_btn" type="button"
							value="GET IN TOUCH"></a></div>
			</div>
		</div>

	</th:block>
</body>

</html>