<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master-page}">

<head>
	<link rel="stylesheet" href="/css/Layout.css">
</head>

<body>
	<th:block layout:fragment="content">
	
		
		<div>
    <div><a name="contentpar_investortab" style="visibility:hidden"></a><div class="investortab section">
    
    <div class="container container-mob">
        <div class="investorrelationfinancetabs">
            <div class="common-tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item ">
                        <a class="active show" data-toggle="tab" id="indian" href="#tab-details--988673650">Indian Destinations</a>
                    </li>
                
                    <li class="nav-item ">
                        <a data-toggle="tab" id="international" href="#tab-details-1960453815" class="">International Destinations</a>
                    </li>
                
                    <li class="nav-item ">
                        <a data-toggle="tab" id="getInspired" href="#tab-details-1058067092" class="">Get Inspired</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active show" id="tab-details--988673650">
            <div class="destinationslanding section">
    <div class="container container-mob">
        <div class="tab-content clearfix">
            <div class="tab-content">
                <div id="whereweare" class="tab-pane active show">
                    <div class="ig-parent-popular">
                        <div class="row">
                            <div class="col-6 col-md-3 col-space">
                                <a href="/indian-destinations/agartala.html?linkNav=agartala_destinations~destinations-listing~1">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Agartala-thumbnail.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Agartala-thumbnail.jpg" title="Agartala-thumbnail" alt="Agartala-thumbnail">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Agartala</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>27.08</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/indian-destinations/agra.html?linkNav=agra_destinations~destinations-listing~1">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/agra/HmpgThumbnail-Agra-2.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/agra/HmpgThumbnail-Agra-2.jpg" title="HmpgThumbnail-Agra-2" alt="HmpgThumbnail-Agra-2">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Agra</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>26.54</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/indian-destinations/ahmedabad.html?linkNav=ahmedabad_destinations~destinations-listing~1">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/banners/2020/destinations-meta/Ahmedabad2.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/banners/2020/destinations-meta/Ahmedabad2.jpg" title="Ahmedabad2" alt="Ahmedabad2">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Ahmedabad</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>26.29</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/indian-destinations/aizawl.html?linkNav=aizawl_destinations~destinations-listing~1">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/aizwal/Aizawl-Thumbnail.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/aizwal/Aizawl-Thumbnail.jpg" title="Aizawl-Thumbnail" alt="Aizawl-Thumbnail">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Aizawl</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>25.19</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/indian-destinations/amritsar.html?linkNav=amritsar_destinations~destinations-listing~1">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/banners/2020/destinations-meta/Amritsar.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/banners/2020/destinations-meta/Amritsar.jpg" title="Amritsar" alt="Amritsar">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Amritsar</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>25.49</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/indian-destinations/aurangabad.html?linkNav=aurangabad_destinations~destinations-listing~1">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/aurangabad/Aurangabad-Thumbnail-image.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/aurangabad/Aurangabad-Thumbnail-image.jpg" title="Aurangabad-Thumbnail-image" alt="Aurangabad-Thumbnail-image">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Aurangabad</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>21.68</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/indian-destinations/bagdogra.html?linkNav=bagdogra_destinations~destinations-listing~1">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Bagdogra2.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Bagdogra2.jpg" title="Bagdogra2" alt="Bagdogra2">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Bagdogra</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>25.05</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/indian-destinations/bareilly.html?linkNav=bareilly_destinations~destinations-listing~1">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/bareilly/HmpgThumbnail.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/bareilly/HmpgThumbnail.jpg" title="HmpgThumbnail" alt="HmpgThumbnail">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Bareilly</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>26.45</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/indian-destinations/belagavi.html?linkNav=belagavi_destinations~destinations-listing~1">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Belagavi2.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Belagavi2.jpg" title="Belagavi2" alt="Belagavi2">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Belagavi</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>20.88</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/indian-destinations/bengaluru.html?linkNav=bengaluru_destinations~destinations-listing~1">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/banners/2020/destinations-meta/Bengaluru-thumbnail.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/banners/2020/destinations-meta/Bengaluru-thumbnail.jpg" title="Bengaluru-thumbnail" alt="Bengaluru-thumbnail">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Bengaluru</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>20.01</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/indian-destinations/bhubaneswar.html?linkNav=bhubaneswar_destinations~destinations-listing~1">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Bhubaneswar2.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Bhubaneswar2.jpg" title="Bhubaneswar2" alt="Bhubaneswar2">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Bhubaneswar </h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>26.09</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/indian-destinations/bhopal.html?linkNav=bhopal_destinations~destinations-listing~1">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Bhopal-thumbnail.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Bhopal-thumbnail.jpg" title="Bhopal-thumbnail" alt="Bhopal-thumbnail">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Bhopal</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>25.54</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/indian-destinations/chandigarh.html?linkNav=chandigarh_destinations~destinations-listing~1">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/banners/2020/destinations-meta/Chandigarhthumb.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/banners/2020/destinations-meta/Chandigarhthumb.jpg" title="Chandigarhthumb" alt="Chandigarhthumb">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Chandigarh</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>26.82</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/indian-destinations/chennai.html?linkNav=chennai_destinations~destinations-listing~1">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/banners/2020/destinations-meta/Chennai-thumbnail.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/banners/2020/destinations-meta/Chennai-thumbnail.jpg" title="Chennai-thumbnail" alt="Chennai-thumbnail">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Chennai</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>26.93</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/indian-destinations/coimbatore.html?linkNav=coimbatore_destinations~destinations-listing~1">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Coimbatorethumb.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Coimbatorethumb.jpg" title="Coimbatorethumb" alt="Coimbatorethumb">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Coimbatore</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>24.41</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/indian-destinations/darbhanga.html?linkNav=darbhanga_destinations~destinations-listing~1">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/darbhanga/Darbhanga-DestinationPage-HeroBanner-Resp-2.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/darbhanga/Darbhanga-DestinationPage-HeroBanner-Resp-2.jpg" title="Darbhanga-DestinationPage-HeroBanner-Resp-2" alt="Darbhanga-DestinationPage-HeroBanner-Resp-2">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Darbhanga</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>-10.33</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/indian-destinations/dehradun.html?linkNav=dehradun_destinations~destinations-listing~1">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/banners/2020/destinations-meta/Dehradun-thumbnail.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/banners/2020/destinations-meta/Dehradun-thumbnail.jpg" title="Dehradun-thumbnail" alt="Dehradun-thumbnail">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Dehradun</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>24.52</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/indian-destinations/delhi.html?linkNav=delhi_destinations~destinations-listing~1">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/banners/2020/destinations-meta/Delhi-LotusTmple.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/banners/2020/destinations-meta/Delhi-LotusTmple.jpg" title="Delhi-LotusTmple" alt="Delhi-LotusTmple">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Delhi</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>27.52</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/indian-destinations/dibrugarh.html?linkNav=dibrugarh_destinations~destinations-listing~1">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Dibrugarhthumb.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Dibrugarhthumb.jpg" title="Dibrugarhthumb" alt="Dibrugarhthumb">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Dibrugarh</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>25.04</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/indian-destinations/dimapur.html?linkNav=dimapur_destinations~destinations-listing~1">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Dimapurthumb.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Dimapurthumb.jpg" title="Dimapurthumb" alt="Dimapurthumb">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Dimapur </h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>28.07</span>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>









    
        
    
</div>


        </div>
    
        <div class="tab-pane" id="tab-details-1960453815">
            <div class="destinationslanding section">
    <div class="container container-mob">
        <div class="tab-content clearfix">
            <div class="tab-content">
                <div id="whereweare" class="tab-pane active show">
                    <div class="ig-parent-popular">
                        <div class="row">
                            <div class="col-6 col-md-3 col-space">
                                <a href="/international-destinations/abu-dhabi.html?linkNav=abu-dhabi_destinations~destinations-listing~2">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Abudhabi2.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Abudhabi2.jpg" title="Abudhabi2" alt="Abudhabi2">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Abu Dhabi</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>30.59</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/international-destinations/amsterdam.html?linkNav=amsterdam_destinations~destinations-listing~2">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Amsterdam2.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Amsterdam2.jpg" title="Amsterdam2" alt="Amsterdam2">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Amsterdam</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>12.19</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/international-destinations/athens.html?linkNav=athens_destinations~destinations-listing~2">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Athens2.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Athens2.jpg" title="Athens2" alt="Athens2">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Athens</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>20.58</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/international-destinations/bangkok.html?linkNav=bangkok_destinations~destinations-listing~2">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Bangkok2.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Bangkok2.jpg" title="Bangkok2" alt="Bangkok2">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Bangkok</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>28.88</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/international-destinations/brussels.html?linkNav=brussels_destinations~destinations-listing~2">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Brussels2.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Brussels2.jpg" title="Brussels2" alt="Brussels2">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Brussels</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>12.98</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/international-destinations/budapest.html?linkNav=budapest_destinations~destinations-listing~2">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Budapest.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Budapest.jpg" title="Budapest" alt="Budapest">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Budapest</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>16.71</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/international-destinations/chengdu.html?linkNav=chengdu_destinations~destinations-listing~2">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/chengdu/HmpgThumbnail.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/chengdu/HmpgThumbnail.jpg" title="HmpgThumbnail" alt="HmpgThumbnail">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Chengdu</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>24.27</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/international-destinations/colombo.html?linkNav=colombo_destinations~destinations-listing~2">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Colombo.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Colombo.jpg" title="Colombo" alt="Colombo">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Colombo</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>24.89</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/international-destinations/copenhagen.html?linkNav=copenhagen_destinations~destinations-listing~2">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Copenhagen.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Copenhagen.jpg" title="Copenhagen" alt="Copenhagen">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Copenhagen</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>8</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/international-destinations/dammam.html?linkNav=dammam_destinations~destinations-listing~2">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/dammam/Hmpg-Thumbnail.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/dammam/Hmpg-Thumbnail.jpg" title="Hmpg-Thumbnail" alt="Hmpg-Thumbnail">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Dammam</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>23.91</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/international-destinations/dhaka.html?linkNav=dhaka_destinations~destinations-listing~2">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Dhaka_Thumbnail.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Dhaka_Thumbnail.jpg" title="Dhaka_Thumbnail" alt="Dhaka_Thumbnail">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Dhaka</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>27.12</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/international-destinations/doha.html?linkNav=doha_destinations~destinations-listing~2">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Doha2.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Doha2.jpg" title="Doha2" alt="Doha2">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Doha</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>26.76</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/international-destinations/dubai.html?linkNav=dubai_destinations~destinations-listing~2">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Dubai2.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Dubai2.jpg" title="Dubai2" alt="Dubai2">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Dubai</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>29.11</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/international-destinations/dublin.html?linkNav=dublin_destinations~destinations-listing~2">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Dublin2.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Dublin2.jpg" title="Dublin2" alt="Dublin2">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Dublin</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>12.24</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/international-destinations/guangzhou.html?linkNav=guangzhou_destinations~destinations-listing~2">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/guangzhou/thumbnail.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/guangzhou/thumbnail.jpg" title="thumbnail" alt="thumbnail">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Guangzhou</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>33.04</span>
                                    </div>
                                </a>
                            </div>
                        
                            <div class="col-6 col-md-3 col-space">
                                <a href="/international-destinations/hanoi.html?linkNav=hanoi_destinations~destinations-listing~2">
                                    <picture class="picture-effects">
                                        <img class="bckgrd-effect lazyloaded" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/hanoi/HmpgThumbnail.jpg" src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/hanoi/HmpgThumbnail.jpg" title="HmpgThumbnail" alt="HmpgThumbnail">
                                        <div class="pos-abs"></div>
                                    </picture>
                                    <div class="ig-common-desc-top">
                                        <h6 class="ig-common-title">Hanoi</h6>
                                        <p class="ig-common-subtitle"></p>
                                    </div>
                                    <div class="ig-temp-widget">
                                        <i class="icon-temperature"></i><span>30.39</span>
                                    </div>
                                </a>
                            </div>
                        
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>









    
        
    
</div>


        </div>
    
        <div class="tab-pane" id="tab-details-1058067092">
            <div class="reference parbase section"><div class="cq-dd-paragraph"><div class="rightpar parsys"><div class="textblock section">
    <div class="    container container-mob">
    
        

        
            <p>An anonymous writer rightly said, "The goal is to die with memories not dreams" and what can create more memories than travelling? So, step out of your bed, take a break from your work and plan your next trip to some majestic places all around the IndiGo network. Let India's coolest airline be your travel inspiration and pal to book your next travel with us and take you to your favourite destination as per your mood. Happy flying!</p>
<h2><b>What are you in a mood for?</b></h2>

        
    </div>

<div class="clearfix"></div>


     




</div>
<div class="getinspiredtiles section">
<div class="container container-mob">

<div class="row">

    <div class="col-12 col-sm-6">
        <div class="get-ins-item">
            <a href="/get-inspired/art-and-festival.html">
                <picture class="picture-effects">
                    <img src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/get-inspired/Art-Festival-2.jpg" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/get-inspired/Art-Festival-2.jpg" alt="Art-Festival-2" title="Art-Festival-2" class="bckgrd-effect lazyloaded">
                    <h1></h1>
                </picture>
            </a>
        </div>
    </div>

    <div class="col-12 col-sm-6">
        <div class="get-ins-item">
            <a href="/get-inspired/food-tripping.html">
                <picture class="picture-effects">
                    <img src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/get-inspired/Food-tripping-2.jpg?food-tripping" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/get-inspired/Food-tripping-2.jpg?food-tripping" alt="jpg?food-tripping" title="jpg?food-tripping" class="bckgrd-effect lazyloaded">
                    <h1></h1>
                </picture>
            </a>
        </div>
    </div>

    <div class="col-12 col-sm-6">
        <div class="get-ins-item">
            <a href="/get-inspired/beach-holiday.html">
                <picture class="picture-effects">
                    <img src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/get-inspired/Beachy-Holiday-2.jpg" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/get-inspired/Beachy-Holiday-2.jpg" alt="Beachy-Holiday-2" title="Beachy-Holiday-2" class="bckgrd-effect lazyloaded">
                    <h1></h1>
                </picture>
            </a>
        </div>
    </div>

    <div class="col-12 col-sm-6">
        <div class="get-ins-item">
            <a href="/get-inspired/culture-and-heritage.html">
                <picture class="picture-effects">
                    <img src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/get-inspired/Culture-Heritage-2.jpg" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/get-inspired/Culture-Heritage-2.jpg" alt="Culture-Heritage-2" title="Culture-Heritage-2" class="bckgrd-effect lazyloaded">
                    <h1></h1>
                </picture>
            </a>
        </div>
    </div>

    <div class="col-12 col-sm-6">
        <div class="get-ins-item">
            <a href="/get-inspired/shopping-delight.html">
                <picture class="picture-effects">
                    <img src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/get-inspired/Shopping-Delight-2.jpg" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/get-inspired/Shopping-Delight-2.jpg" alt="Shopping-Delight-2" title="Shopping-Delight-2" class="bckgrd-effect lazyloaded">
                    <h1></h1>
                </picture>
            </a>
        </div>
    </div>

    <div class="col-12 col-sm-6">
        <div class="get-ins-item">
            <a href="/get-inspired/honeymooning-in.html">
                <picture class="picture-effects">
                    <img src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/get-inspired/Honey-Mooning-2.jpg" data-src="//static.goindigo.in/content/dam/indigov2/6e-website/destinations/get-inspired/Honey-Mooning-2.jpg" alt="Honey-Mooning-2" title="Honey-Mooning-2" class="bckgrd-effect lazyloaded">
                    <h1></h1>
                </picture>
            </a>
        </div>
    </div>

</div>

</div></div>

</div>
</div>
</div>


        </div>
    </div>


    
        
    






</div>

</div>
    <div><div class="textblock section">
    <div>
    
        

        
            <a href="#" title="Back to top" id="back-to-top" class="show"><i class="icon-arrow"></i> Top</a>
 
 

        
    </div>

<div class="clearfix"></div>


     




</div>
<div class="section"><div class="new"></div>
</div><div class="iparys_inherited"><div class="contentipar iparsys parsys"><div class="textblock section">
<div class="clearfix"></div>


     




</div>
<div class="textblock section">
    <div>
    
        

        
            
        
    </div>

<div class="clearfix"></div>


     




</div>
<div class="textblock section">
    <div>
    
        

        
            
        
    </div>

<div class="clearfix"></div>


     




</div>
<div class="textblock section">
    <div>
    
        

        
            
        
    </div>

<div class="clearfix"></div>


     




</div>
</div>
</div>
</div>
    <div>
<div class="white-bg">
<div class="container">
    <div class="ig-contact-us contactus-custom ig-common-bottom">
        <div class="row">

            <div class="col-12 col-md-4">
                <div class="ig-icon-blck">
                    <i class="icon-call"></i>
                </div>
                <div class="ig-content-blck contact-phone-opt">
                    <a href="javascript:void(0)" class="callUsInfo-block">
                        <h6>Call us</h6>
<p>We’re just a ring away.</p>

                    </a>
                    <a href="javascript:void(0)" class="callUsInfo-block" id="displayPhone">
                        View  Number
                    </a>
                    <div class="callTonumber-block">
                        
                            <a data-phone-num="India : 0124-6173838, 0124-4973838" href="tel:India%20:%200124-6173838,%200124-4973838">India : 0124-6173838, 0124-4973838</a><br>
                        
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-4">
                <a class="contact-email-opt" href="/contact-us/feedback.html">
                    <div class="ig-icon-blck">
                        <i class="icon-email"></i>
                    </div>
                    <div class="ig-content-blck">
                        <h6>Feedback</h6>
<p>Have a compliment or complaint?</p>

                    </div>
                </a>
            </div>


            <div class="col-12 col-md-4">
                <a class="contact-us-contact-option-chat track-contact-us-chat" href="javascript:void(0)">
                <div class="ig-icon-blck">
                    <i class="icon-sms"></i>
                </div>
                <div class="ig-content-blck">
                    <h6>Chat with us</h6>
<p>Questions? We are here to help.</p>

                </div>
                </a>
            </div>

        </div>
        </div>
    </div>
</div>
<!-- <sly data-sly-use.clientlibInclude="/apps/indigo/clientlibextension/templates/clientlib.html"
     data-sly-call=""></sly> -->

    
        
    


</div>
    <div><div class="container d-none d-md-block">
    <div class="stats-wrapper">
        <div class="row">
            <div class="innerwrap-stats">
                <i class="icon-Daily-flight"></i>
                <span class="stats-no">1500 Daily flights</span>
        </div>
    
            <div class="innerwrap-stats">
                <i class="icon-Domestic"></i>
                <span class="stats-no">71 Domestic Destinations</span>
        </div>
    
            <div class="innerwrap-stats">
                <i class="icon-International"></i>
                <span class="stats-no">24 International Destinations</span>
        </div>
    
            <div class="innerwrap-stats">
                <i class="icon-happypax"></i>
                <span class="stats-no">300+ Million happy customers</span>
        </div>
    
            <div class="innerwrap-stats">
                <i class="icon-Fleets"></i>
                <span class="stats-no">278 Fleet tall</span>
        </div>
    </div>
    </div>
</div>




	</th:block>
</body>

</html>